<md-content>
    <form name="contactForm">
        <md-input-container>
            <label>Name</label>
            <input name="name" ng-model="name" required md-maxlength="40" ng-maxlength="40" minlength="4">
            <div ng-messages="contactForm.name.$error">
                <div ng-message="required" ng-show="contactForm.name.$error.required">This is required!</div>
                <div ng-message="md-maxlength" ng-show="contactForm.name.$error.maxlength">That's too long!</div>
                <div ng-message="minlength" ng-show="contactForm.name.$error.minlength">That's too short!</div>
            </div>
        </md-input-container>
        <md-input-container>
            <label>E-mail</label>
            <input name="email" type="email" ng-model="email" required md-maxlength="128" ng-maxlength="128"
                   minlength="3">
            <div ng-messages="contactForm.email.$error">
                <div ng-message="required" ng-show="contactForm.email.$error.required">This is required!</div>
                <div ng-message="md-maxlength" ng-show="contactForm.email.$error.maxlength">That's too long!</div>
                <div ng-message="minlength" ng-show="contactForm.email.$error.minlength">That's too short!</div>
                <div ng-message="email" ng-show="contactForm.email.$error.email">Invalid e-mail address</div>
            </div>
        </md-input-container>
    </form>
</md-content>