<div class="md-padding">
    <md-content class="md-padding" layout-xs="column" layout="row" layout-align="center center">
        <div flex-xs flex-gt-xs="80" layout="column" layout-align="center center">
            <md-card class="card-80-center">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Contact Us <md-icon>mail_outline</md-icon></span>
                    </md-card-title-text>
                </md-card-title>
                <form name="contactForm" method="post" action="/backend/contact">
                    <div class="md-padding" layout-align="center">
                        <div layout="row">
                            <md-input-container flex="100">
                                <label>Name</label>
                                <input name="name" ng-model="name" required md-maxlength="40" ng-maxlength="40"
                                       minlength="4">
                                <div ng-messages="contactForm.name.$error">
                                    <div ng-message="required" ng-show="contactForm.name.$error.required">This is
                                        required!
                                    </div>
                                    <div ng-message="md-maxlength" ng-show="contactForm.name.$error.maxlength">That's
                                        too long!
                                    </div>
                                    <div ng-message="minlength" ng-show="contactForm.name.$error.minlength">That's too
                                        short!
                                    </div>
                                </div>
                            </md-input-container>
                            <md-input-container flex="100">
                                <label>E-mail</label>
                                <input name="email" type="email" ng-model="email" required md-maxlength="128"
                                       ng-maxlength="128"
                                       minlength="3">
                                <div ng-messages="contactForm.email.$error">
                                    <div ng-message="required" ng-show="contactForm.email.$error.required">This is
                                        required!
                                    </div>
                                    <div ng-message="md-maxlength" ng-show="contactForm.email.$error.maxlength">That's
                                        too long!
                                    </div>
                                    <div ng-message="minlength" ng-show="contactForm.email.$error.minlength">That's too
                                        short!
                                    </div>
                                    <div ng-message="email" ng-show="contactForm.email.$error.email">Invalid e-mail
                                        address
                                    </div>
                                </div>
                            </md-input-container>
                        </div>
                        <div layout="row">
                            <md-input-container flex="100">
                                <label>Text</label>
                                <textarea rows="10" name="text" ng-model="text" minlength="20" md-maxlength="1000"
                                          ng-maxlength="1000"></textarea>
                                <div ng-messages="contactForm.text.$error">
                                    <div ng-message="required" ng-show="contactForm.text.$error.required">This is
                                        required!
                                    </div>
                                    <div ng-message="md-maxlength" ng-show="contactForm.text.$error.maxlength">That's
                                        too long!
                                    </div>
                                    <div ng-message="minlength" ng-show="contactForm.text.$error.minlength">That's too
                                        short!
                                    </div>
                                </div>
                            </md-input-container>
                        </div>

                        <md-card-actions layout="row" layout-align="center">
                            <md-button class="md-primary md-raised signup_button" type="submit">Send</md-button>
                        </md-card-actions>
                    </div>
                </form>
            </md-card>
        </div>
    </md-content>
</div>
