/*
HEADER
========================================================================================================================
 */
#banner {
    text-align: center;
    padding: 100px;
}
/*
========================================================================================================================
 */

main {
    margin-bottom: 50px;
}

/*
FOOTER
========================================================================================================================
 */
footer {
    background-color: #e4e4e4;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

footer a {
    color: #666;
    text-align: center;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer a p {
    padding: 5px 0 5px 0;
    margin: 0;
}
/*
========================================================================================================================
 */