<html lang="en">
<head>
    <title>News | Resonance</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description"
          content="Compare news sources or just read what comes. Get out of the echo chamber, and start resonating!">
    <meta name="author" content="Benjamin Raison">
    <meta lang="en">

    <link rel="icon" type="image/ico" href="favicon.ico">

    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">

    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-aria.min.js"></script>


    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

    <script src="view.js"></script>
    <script src="news/news.js"></script>
</head>
<body ng-app="resonance" ng-cloak>
<header ng-controller="NavCtrl">
    <md-toolbar class="md-primary">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Settings" ng-click="openLeftMenu()">
                <md-icon ng-bind="'menu'"></md-icon>
            </md-button>
            <h2 flex md-truncate>Resonance</h2>
            <span>
                <span ng-if="isNews()" ng-controller="NewsCtrl">
                <md-button class="md-raised" ng-click="update()">Update!</md-button>
                </span>
                    <md-button class="md-icon-button" aria-label="Settings" ng-click="openLeftMenu()">
                    <md-icon ng-bind="'search'"></md-icon>
                </md-button>
            </span>
        </div>
    </md-toolbar>


    <md-sidenav md-component-id="left" class="md-sidenav-left">
        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Close" ng-click="openLeftMenu()">
                    <md-icon ng-bind="'arrow_back'"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
    </md-sidenav>
</header>
<main>
    <div ng-view></div>
</main>
<footer>
    <a href="/"><p>Copyright © 2017 Benjamin Raison</p></a>
</footer>
</body>
</html>
