<link rel="stylesheet" href="news/news.css">
<div ng-controller="NewsCtrl" data-ng-init="init()">
    <div ng-if="valid==true">
        <iframe id="frame" ng-src="{{site}}"></iframe>
    </div>
    <div ng-if="valid==false" class="left-40 right-40 error" layout="column" layout-align="center center">
        <h3>{{title}}</h3>
        <h4>{{source}}</h4>
        <img src="/images/newspaper.png"/>
        <p>This page can not be viewed inline. <a href="{{site}}" target="_blank">Read the article here</a></p>
    </div>
</div>
