html {
    overflow: hidden;
}

iframe {
    padding: 0;
    height: calc(100vh - 100px);
    overflow: hidden;
    border: none;
    width: 100%;
}

.error {
    margin-top: auto;
    margin-bottom: auto;
    height: calc(100vh - 100px);
    font-size: 2em;
}