<!DOCTYPE html>
<html ng-app="resonance" lang="en">
<head>
    <title>{{page}} | Resonance</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description"
          content="Compare news sources or just read what comes. Get out of the echo chamber, and start resonating!">
    <meta name="author" content="Benjamin Raison">
    <meta name="theme-color" content="#00897b">


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../bower_components/angular-translate/angular-translate.min.js"></script>
    <script src="../bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>


    <script src="view.js"></script>
    <script src="news/news.js"></script>
    <script src="about/about.js"></script>
    <script src="contact/contact.js"></script>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#00897b">
    <meta name="theme-color" content="#00897b">
    <link rel="canonical" href="https://resonance.li/">

    <link rel="stylesheet" href="../bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link rel="stylesheet" href="home/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="view.css">

</head>
<body ng-cloak>
<header ng-controller="NavCtrl">
    <md-toolbar style="position: fixed" class="md-primary">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleLeftMenu()">
                <md-icon ng-bind="'menu'"></md-icon>
            </md-button>
            <h2>Resonance</h2>
        </div>
    </md-toolbar>


    <md-sidenav md-component-id="left" class="md-sidenav-left">
        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Close" ng-click="toggleLeftMenu()">
                    <md-icon ng-bind="'arrow_back'"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <nav>
            <md-list style="padding: 0;">
                <md-list-item class="md-2-line" ng-click="navigateLocal('/')">
                    <p>Home</p>
                </md-list-item>
                <md-divider></md-divider>
                <md-list-item class="md-2-line" ng-class="getNavClass('/news')"
                              ng-click="navigateLocal('/pages/#!/news'); toggleLeftMenu()">
                    <p>News</p>
                </md-list-item>
                <md-divider></md-divider>
                <md-list-item class="md-2-line" ng-class="getNavClass('/contact')"
                              ng-click="navigateLocal('/pages/#!/contact'); toggleLeftMenu()">
                    <p>Contact</p>
                </md-list-item>
                <md-divider></md-divider>
                <md-list-item class="md-2-line" ng-class="getNavClass('/about')"
                              ng-click="navigateLocal('/pages/#!/about'); toggleLeftMenu()">
                    <p>About</p>
                </md-list-item>
                <md-divider></md-divider>
            </md-list>
        </nav>
    </md-sidenav>
</header>
<main>
    <div ng-view class="content"></div>
</main>
<footer>
    <a href="/"><p>Copyright © 2017 Benjamin Raison</p></a>
</footer>
</body>
</html>
